{% extends "manager/base.html" %}

{% block content %}
    
    <div class="panel panel-default">
        
        <div class="panel-heading">Payment List</div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Student</th>
                        <th>Value</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payment_list %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="#">{{ payment.date }}</a></td>
                            <td>{{ payment.student }}</td>
                            <td>{{ payment.value }}</td>
                            <td><a href="{% url 'payment_update' pk=payment.pk %}"><button type="button" class="btn btn-primary">Update</button></a></td>
                            <td><a href="{% url 'payment_delete' pk=payment.pk %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{% url 'payment_form' %}"><button type="button" class="btn btn-success" style="float: right;">Adicionar</button></a>

    </div>

{% endblock %}