{% extends "manager/base.html" %}

{% block content %}

    <div>
        {{ student.name }}
        {{ student.email }}
        {{ student.ronin_id }}
        {{ student.start_date }}
        {{ student.current_slp }}
        {{ student.total_slp }}
        {{ student.active }}
        {{ student.observarion }}

        <form action='get_json_from_ronin_id' method='GET'>
            <button type='submit'>Get Json from Ronin</button>
        </form>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

{% endblock %}